{% extends '::base.html.twig' %}

{% block head %}
    {% block announcements %}
        <div class="container">
            <div class="row">
                <div class="col col-sm-12">

                    <div class="panel">
                        <div class="panel-body">
                            This space will be used for announcements. If there aren't any, this div will not be rendered.  <span class="glyphicon glyphicon-heart-empty"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block content %}
        {% block featuredContent %}
<div class="row">
    <div class="col-sm-4"">
        <div class="page-header slim">
            <h3 class="slim">Featured Project</h3>
        </div>
        <div id="featured_project" class="featured" >
            <div class="description">
                <label><a href="" class="text"; >How to install and setup FOSUserBundle in Symfony 2.4</a></label>
                <br>
                <small> <a href="" class="author">Paulo Amaral</a></small>

            </div>	
        </div>
    </div>
    <div class="col-sm-4"">
        <div class="page-header slim">
            <h3 class="slim">Featured Article</h3>
        </div>
        <div id="featured_article" class="featured">
            <div class="description">
                <label><a href="{{ path('programming_moris_article_show', {'slug': featured_content['article'].slug}) }}" class="text" >{{ featured_content['article'].name }}</a></label>
                <br>
                <small> <a href="" class="author">{{ featured_content['article'].author.name}}</a></small>

            </div>	
        </div>
    </div>
    <div class="col-sm-4"">
        <div class="page-header slim">
            <h3 class="slim">Featured Photo Album</h3>
        </div>
        <div id="featured_album" class="featured" >
            <div class="description">
                <label><a href="" class="text"; >How to install and setup FOSUserBundle in Symfony 2.4</a></label>
                <br>
                <small> <a href="" class="author">Paulo Amaral</a></small>

            </div>	
        </div>
    </div>		
</div>

        {% endblock %}

        {% block latestArticles %}
            <div class="page-header slim">
                <h3 class="slim">Latest articles</h3>
            </div>
            {% for article in latest_articles %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="media">
                            <a class="pull-left col-md-2" href="#">
                                <img src="{{ asset(article.descriptionImage) }}" alt="image for {{article.name}}" class="media-object img-responsive pull-right article-image small">
                            </a>
                            <div class="media-body">
                                                <h3 class="media-heading"><a href="{{ path('programming_moris_article_show', {'slug': article.slug}) }}" class="article-title">{{article.name}}</a></h3>
                                                <h4><a href="" class="author-label"><span class="label label-default">{{article.author.name}}</span></a></h4>
                                                <h4><small style="font-family:courier,'new courier';" class="text-muted">{{article.createdAt|date("Y/m/d")}}
                                                        {{article.renderTags(path('programming_moris_article_list_by_tag',{'tag': 'a'}))| raw }}
                                                        •
                                                        <a href="{{ path('programming_moris_article_show', {'slug': article.slug}) }}" class="text-muted">Read More</a></small></h4>
                                                {{article.description}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <h4 class="more-articles"><a href="#"><i class="glyphicon glyphicon-chevron-down"></i> More articles</a></h4>    
        {% endblock %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var featured_article_image_css = 'url({{ featured_content['article'].descriptionImage }})';
    //$('#featured_article').css('background',featured_article_css);
    $('#featured_article').css('background-image',featured_article_image_css);
    $('#featured_article').css('background-repeat','no-repeat');
    $('#featured_article').css('background-position','center center');
</script>
{% endblock %}